@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Louize";
  src: url("../public/Louize.ttf");
}

@font-face {
  font-family: "Louize Italic";
  src: url("../public/Louize-Italic.ttf");
}

@font-face {
  font-family: "Louize Medium";
  src: url("../public/Louize-Medium.ttf");
}

@font-face {
  font-family: "Maax";
  src: url("../public/Maax.ttf");
}

@font-face {
  font-family: "Maax Medium";
  src: url("../public/Maax-Medium.ttf");
}

.container {
  @apply max-w-[1760px] mx-auto;
}
